.cgu-container{
    margin: 25px;
}

.cgu-title{
    height: 15vh;
}

.cgu-title-text{
    font-family: Poppins subhead;
    font-size: 18px;
    color: white;
    position: relative;
    top: 20%;
    text-decoration: underline
}

.cgu-body-subtitle{
    font-family: Poppins subhead;
    font-size: 14px;
    color: white;
    position: relative;
    top: 20%;
    margin-bottom: 5%;
}

.cgu-body{
    font-family: Poppins body;
    font-size: 12px;
    color: white;
    position: relative;
    top: 20%; 
    margin-bottom: 5%;
}