.noDateContainer{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noDateText{
    font-family: Poppins subhead;
    font-size: 20px;
    color: white;
    text-align: center;
}