<div class="login-div">
  <div class="col-login"  align="center">
    <p class="subtitle sublogin">Code de confirmation</p>
    <div class="divider dividerAnimate"></div>
    <div class="otp-container">
      <input type="text" class="otp-input" id="otp1" maxlength="1" inputmode="numeric" (focus)="onFocus()" (blur)="onBlur()" />
      <input type="text" class="otp-input" id="otp2" maxlength="1" inputmode="numeric" (focus)="onFocus()" (blur)="onBlur()" />
      <input type="text" class="otp-input" id="otp3" maxlength="1" inputmode="numeric" (focus)="onFocus()" (blur)="onBlur()" />
      <input type="text" class="otp-input" id="otp4" maxlength="1" inputmode="numeric" (focus)="onFocus()" (blur)="onBlur()" />
      <input type="text" class="otp-input" id="otp5" maxlength="1" inputmode="numeric" (focus)="onFocus()" (blur)="onBlur()" />
      <input type="text" class="otp-input" id="otp6" maxlength="1" inputmode="numeric" (focus)="onFocus()" (blur)="onBlur()" />
    </div>
    <button class="createAccountBtn" (click)="createAccount()">
      <span>Confirmer</span>
    </button>
  </div>
</div>
