.dateContainer{
    width: 100%;
    height: 85vh;
}

.dateTextContainer{
    margin-top: 100px;
    margin-left: 25px;
}

.dateText{
    font-family: Poppins subhead;
    font-size: 20px;
    color: white;
    text-align: left;
}

.card-container{
    margin-inline: 25px;
}