.divContactContainer{
    height: 10vh;
    border: 2px solid var(--ion-color-secondary);
    display: flex;
}

.imgContact{
    width: 60px;
    border-radius: 50%;
    height: 60px;
    align-self: center;
    margin-right: 2%;
}

.textContact{
    color: white;
    font-family: "Popppins body", sans-serif;
    align-content: center;
    font-size: 14px;
}