<ion-content [fullscreen]="true" class="login-page">
  <ion-toolbar>
    <ion-icon (click)="navigateToIndex()" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>  
  <div class="credits-container">
    <div class="credits-title" align="center">
      <div class="credits-title-text">Crédits</div>
    </div>
    <div>
      <div class="credits-body-text">
        Direction artistique : Mec de Fiverr
      </div>
      <div class="credits-body-text">
        Cheffe de projet : Lou
      </div>
      <div class="credits-body-text">
        Développeur : Tristan
      </div>
    </div>
  </div>
</ion-content>