.logo-container{
  position: relative;
  top: 45%;
  display: flex;
  justify-content: center;
}

.logo{
  width: 100px;
}

.login-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: slideUp 0.5s ease-out;
}

.slideUpLogo{
  animation: slideUpLogo 0.5s ease-out;
  animation-fill-mode: forwards
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpLogo {
  from {
    top: 45%;
  }
  to {
    top: 30%;
  }
}