<div class="userProfilContainer">
  <div class="iconContainer">
    <ion-icon (click)="navigateToCredits()" class="info-icon" name="information-circle-outline"></ion-icon>
  </div>

  <div class="imgContainer">
    <img src="https://avatar.iran.liara.run/public" alt="Image de profil" width="150px">
  </div>

  <div align="center">
    <p class="textModif">Modifier</p>
  </div>

  <div class="inputContainer" align="center">
    <input class="inputProfil" placeholder="{{ username }}">
  </div>

  <div class="modfifContainer2" align="right">
    <p class="textModif">Modifier</p>
  </div>

  <div class="bottomText">
    <p class="textModif" align="center">CGU</p>
  </div>  
</div>
